/* 1 - BASE FORM STYLES */

body{
  background: #141414;
  margin: 0;
  font-family: arial;
}

header{
  background: #0d0d0d;
  padding: 20px;
  text-align: center;
}

form{
  margin: 20px;
  color: #eee;
}

form p{
  font-size: 18px;
  letter-spacing: 0.1em
}

/* 3 - CHECKBOX STYLES  */


/* 4 - TEXT INPUT STYLES & FIELDSETS */

fieldset{
  padding: 20px;
  margin: 20px 0;
  border: 3px solid #222;
}

legend{
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.1em;
}

input[type='email'],
input[type='telephone']{
  display: block;
  margin-bottom: 20px;
  padding: 10px 10px 10px 50px;
  border: 0;
  border-radius: 4px;
  background: url(imp/inputs.png) no-repeat;
  background-color: #222;
  font-size: 16px;
  color: #fff;
}

input[type='email']{
  background-position: 7px 8px;
}

input[type='telephone']{
  background-position: 7px -58px;
}

/* 5 - SELECT BOXES */ 


/* 6 - INPUT VALIDATION STYLES */


